<form action="/projects" id="new_project" method="post">
	<fieldset>
		<legend>New Project</legend>
		<label for="name">New Project</label>
		<input type="text" name="name" id="name" placeholder="Project Name">
		<label for="description">Description</label>
		<textarea name="" id="description" name="description" cols="30" rows="5"></textarea>
		<br>
		<button type="submit" class="btn">Submit</button>
	</fieldset>
</form>